* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    background-color: aquamarine;
    padding: 1.5rem;
}

li {
    list-style: none;
}

hr {
    margin: 1rem;
}

.current_task {
    margin-left: 1rem;

    h2 {
        margin-bottom: 1.5rem;
    }

    .current {
        margin-bottom: 1.5rem;
    }

}

.completed_task {
    margin-left: 1rem;
    margin-bottom: 1rem;

    .completed {
        margin-top: 1.5rem;
    }
}

.estimate {
    margin-bottom: 1rem;
}

span {
    padding: 0.5rem;
    border: solid;
    background-color: chocolate;
    color: white;
    margin-left: 0.5rem;
}